
/* Predictions */
a{
    text-decoration: none;
}
.predictions-table-input{
    display: none;
    max-width: 100px;
}

button:disabled {
    cursor: no-drop !important;
}

button:not(:disabled) {
    cursor: pointer !important;
}

